body {
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    color: var(--color-darkgray);
    background-image: url("../../assets/image/oriental.webp");
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-mono);
    font-weight: 500;
}

h2 {
    font-size: var(--font-size-xxl);
    color: var(--color-darkbrown);
}

h3 {
    font-size: var(--font-size-xl);
    color: var(--color-darkbrown);
}

.list__unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.list__unstyled a {
    text-decoration: none;
    color: var(--color-darkbrown);
}

/* Flèche pour remonter au scroll */
#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #e70000;
    color: #F5F5DC;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0.8;
}

#scrollToTop:hover {
    opacity: 1;/* Opacité au survol */
}

#scrollToTop i {
    font-size: 20px; /* Taille de l'icône */
}